<div class="nutrition-card">
  <h3>Nutrition Information</h3>
  
  <div class="nutrition-row">
    <span class="label">Calories</span>
    <span class="value">{{ nutrition.calories }} kcal</span>
  </div>
  <div class="nutrition-row">
    <span class="label">Total Fat</span>
    <span class="value">{{ nutrition.totalFat }}g</span>
  </div>
  <div class="nutrition-row">
    <span class="label">Protein</span>
    <span class="value">{{ nutrition.protein }}g</span>
  </div>
  <div class="nutrition-row">
    <span class="label">Carbohydrate</span>
    <span class="value">{{ nutrition.carbohydrate }}g</span>
  </div>
  <div class="nutrition-row">
    <span class="label">Cholesterol</span>
    <span class="value">{{ nutrition.cholesterol }}mg</span>
  </div>
  
  <p class="disclaimer">
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
</div>
