<div class="ingredients-section">
  <h2>Ingredients</h2>
  
  <div class="mb-8" *ngIf="ingredients && ingredients.length > 0">
    <h3>For main dish</h3>
    <div class="ingredient-row" *ngFor="let ingredient of ingredients">
      <mat-checkbox class="custom-checkbox" [(ngModel)]="ingredient.checked" color="primary">
         <span [class.checked]="ingredient.checked">{{ ingredient.name }}</span>
      </mat-checkbox>
    </div>
  </div>
  
  <div *ngIf="sauceIngredients && sauceIngredients.length > 0">
    <h3>For the sauce</h3>
    <div class="ingredient-row" *ngFor="let ingredient of sauceIngredients">
      <mat-checkbox class="custom-checkbox" [(ngModel)]="ingredient.checked" color="primary">
         <span [class.checked]="ingredient.checked">{{ ingredient.name }}</span>
      </mat-checkbox>
    </div>
  </div>
  
  <div *ngIf="(!ingredients || ingredients.length === 0) && (!sauceIngredients || sauceIngredients.length === 0)">
    <p>No ingredients listed.</p>
  </div>
</div>
